{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'decode/fun.css' %}">
</head>

<body>
    <div class="name">DECODE</div>
    <div class="by">by-</div>
    <ul>
        <li>SANKET</li>
        <li>VIBHOR</li>
        <li>SMIT</li>
        <li>NIKHIL</li>
    </ul>
    <div class="tip">Ɛ> Try to catch the ball of your Dream IIT by double-clicking on the ball <3</div>
    <div class="container">
        <a href="https://www.iitb.ac.in" class="box b1">IIT BOMBAY</a>
        <a href="https://www.iitd.ac.in" class="box b2">IIT DELHI</a>
        <a href="https://www.iitm.ac.in" class="box b3">IIT MADRAS</a>
        <a href="https://www.iitk.ac.in" class="box b4">IIT KANPUR</a>
        <a href="https://www.iitkgp.ac.in" class="box b5">IIT KHARAGPUR</a>
        <a href="https://www.iitg.ac.in" class="box b6">IIT GUWAHATI</a>
        <a href="https://www.iitr.ac.in" class="box b7">IIT ROORKEE</a>
        <a href="https://www.iith.ac.in" class="box b8">IIT HYDERABAD</a>
    </div>
</body>

</html>
